HTML, body {
    font-family: Arial, sans-serif;
    background-color: rgb(43, 43, 43);
    color: white;
}
header {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #333;
    overflow: hidden;
}
.navi_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    gap: 15px;
}   
.foot {
    text-align: center;
    padding: 10px;
    background-color: #333;
    margin-top: 20px;
}